<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-xl-2 col-lg-3 col-md-12">
          <a href="#" class="brand-wrap">Bike Bliss</a>
        </div>

        <div class="col-xl-6 col-lg-5 col-md-6">
          <app-search-form></app-search-form>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6">
        </div>
      </div>
    </div>
  </section>

  <app-nav-bar></app-nav-bar>
</header>

<h1 class="product-title text-center">Validation Commande</h1>
<div class="product-detail">
  <p><strong>Nom du produit :</strong> {{ product.nom }}</p>
  <p><strong>Prix du produit :</strong> {{ product.prix_depart }} €</p>
  <p><strong>Année du modèle :</strong> {{ product.annee_model }} </p>
  <p><strong>Catégorie :</strong> {{ product.categorieId.nom }} </p>
  <p><strong>Marque :</strong> {{ product.marqueId.nom }} </p>

  <h2>Veuillez remplir les champs suivants pour valider votre commande</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="client.nom" required>
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" name="prenom" [(ngModel)]="client.prenom" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="client.email" required>
    </div>
    <div class="form-group">
      <label for="telephone">Telephone</label>
      <input type="text" id="telephone" name="telephone" [(ngModel)]="client.telephone" required>
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" id="adresse" name="adresse" [(ngModel)]="client.adresse" required>
    </div>
    <div class="form-group">
      <label for="telephone">Quantite</label>
      <input type="text" id="quantite" name="quantite" [(ngModel)]="article.quantite" required>
    </div>
    <div class="form-group">
      <label for="livraison">Date de livraison Voulue</label>
      <input type="date" id="livraison" name="livraison" [(ngModel)]="commande.dateLivraisonVoulue" required>
    </div>
    <div class="form-group">
      <label for="date">Date Commande</label>
      <input type="date" id="date" name="date" [(ngModel)]="commande.dateCommande" required>
    </div>
    <button type="submit" class="valider mr-4">Valider la Commande</button>
    <button type="submit" class="annuler" (click)="navigateToWelcome()">Annuler</button>
  </form>

</div>

